/* Import de la police Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/* Réinitialisation des styles par défaut */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif; /* Utilisation de la police Josefin Sans pour tout le document */
}

/* Styles pour le corps de la page */
body{
   background-color: #f3f5f9; /* Couleur de fond */
}

/* Media query pour les écrans de taille maximale de 500px */
@media (max-height: 500px){
  .social_media{
    display: none !important; /* Masquer les médias sociaux */
  }
}

/* Media query pour les écrans de taille maximale de 768px */
@media (max-width: 768px) {
  .footer-content {
      flex-direction: column; /* Mettre en colonne les éléments du pied de page */
  }

  .footer-section {
      margin-bottom: 20px;
      margin-right: 0;
  }
}

/* Réinitialisation des styles par défaut */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.2;
}

/* Styles pour le corps de la page */
body{
  display: flex;
  flex-direction: column;
  height: 100vh; /* Hauteur de 100% de la vue */
  background-color: #bbbbbb; /* Couleur de fond */
}

/* Styles pour le pied de page */
footer{
  display: flex;
  flex-wrap: wrap;
  margin-top: auto; /* Pour que le pied de page soit toujours en bas de la page */
  background-color: #ffffff; /* Couleur de fond */
  padding: 60px 10%; /* Espacement intérieur */
}

/* Réinitialisation des styles pour les listes */
ul{
  list-style: none;
}

/* Styles pour chaque colonne du pied de page */
.footer-col{
  width: 25%; /* Largeur de chaque colonne */
}

/* Styles pour les titres de chaque colonne du pied de page */
.footer-col h4{
  position: relative;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 22px;
  color: #5e5e5e;
  text-transform: capitalize;
}

/* Styles pour le trait décoratif sous les titres */
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: #27c0ac;
  height: 2px;
  width: 40px;
}

/* Styles pour les éléments de liste du pied de page */
ul li:not(:last-child){
  margin-bottom: 8px;
}

/* Styles pour les liens du pied de page */
ul li a{
  display: block;
  font-size: 19px;
  text-transform: capitalize;
  color: #020202;
  text-decoration: none;
  transition: 0.4s;
}

/* Styles pour les liens du pied de page au survol */
ul li a:hover{
  color: white;
  padding-left: 2px;
}

/* Styles pour les icônes des réseaux sociaux dans le pied de page */
.links a{
  display: inline-block;
  height: 44px;
  width: 44px;
  color: white;
  background-color: rgba(40, 130, 214, 0.8);
  margin: 0 8px 8px 0;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  transition: 0.4s;
}

/* Styles pour les icônes des réseaux sociaux au survol */
.links a:hover{
  color: #4d4f55;
  background-color: white;
}

/* Media query pour les écrans de taille maximale de 740px */
@media(max-width: 740px){
  .footer-col{
      width: 50%; /* Largeur de chaque colonne à 50% pour les écrans plus petits */
      margin-bottom: 30px;
      text-align: center; /* Centrage du texte */
  }

  .footer-col h4::before{
      all: unset; /* Annulation du style du trait décoratif */
  }
}

/* Media query pour les écrans de taille maximale de 555px */
@media(max-width: 555px){
  .footer-col{
      width: 100%; /* Largeur de chaque colonne à 100% pour les écrans très petits */
  }
}

/* Styles pour chaque colonne du pied de page */
.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%; /* Largeur de chaque colonne */
}

/* Styles pour le menu latéral */
.sidebar {
  position: fixed; /* Fixe le menu sur le côté de la page */
  top: 50px; /* Position verticale du haut de la page */
  left: 0;
  width: 120px; /* Largeur du menu latéral */
  height: 100%;
  background-color: #a8a8a8; /* Couleur de fond */
  color: #a8a8a8;
  transition: 0.3s;
}

/* Styles pour la navigation du menu latéral */
.sidebar__nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

/* Styles pour la liste des liens du menu latéral */
.sidebar__list {
  /* Hauteur du menu - prend la hauteur de l'écran */
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 0;
  list-style: none;
}

/* Styles pour les liens du menu latéral */
.sidebar__link {
  display: flex;
  transform: rotate(-90deg); /* Rotation du texte pour être vertical */
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

/* Styles pour l'en-tête */
header {
  position: fixed; /* Fixe l'en-tête en haut de la page */
  background-color: #fff; /* Couleur de fond */
  padding: 10px 0; /* Espacement intérieur */
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1); /* Ombre */
  width: 100%; /* Largeur de 100% */
  z-index: 1000; /* Pour que l'en-tête soit au-dessus de tout */
}

/*
